h1{
    text-align: center;
    color: cornsilk;
}

h2{
    color: cyan;
}



p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #e7e7df;
    font-size: larger;
}

img{
    margin-left: 50px auto;
    border-radius: 45px;

}

body{
    background-image: url(./anyuak\ wear.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav ul li{
    list-style-type: none;
    float: right;
}


nav ul li a{
    display: inline-block;
    padding: 15px;
    text-decoration: whitesmoke;
    color: whitesmoke;
}


footer{
    background-color: rgb(24, 7, 24);
    position: absolute;
    bottom: 0;
    
}



footer image{
    width: 6px;
    height:6px;
    border-radius:100px;
    margin: 20px;
}















